.image-preview-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    height: 100vh;
    z-index: 3;
}

.image-preview-section .i-p-container {
    height: 31rem;
    max-width: 61rem;
    position: relative;
}

.i-p-container .i-p-container-figure {
    width: 100%;
    height: 100%;
    position: relative;
}

.i-p-container-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.close-symbol-container {
    position: absolute;
    top: -1rem;
    right: -5rem;
    cursor: pointer;
    width: 31px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    font-size: 1.2rem;
    color: white;
}
